{% extends 'base.html' %}
{% load static %}
{% block content %}
	{% if user.is_authenticated %}
		<div class="container-fluid text-center">
			<div class="row">
				<div id="navbar" class="col-lg-12">
					<div class="col-lg-2">
						<a href="/"><img class="logo" src="{% static 'images/logo.png' %}" alt=""></a>
					</div>
					<div class="col-lg-5">
						&nbsp;
					</div>
					<div class="col-lg-5">
						<div class="col-lg-6 text-right">
							<div class="username">{{ user.username }}</div>
						</div>
						<div class="col-lg-2">
							{% if user.userprofile.avatar == '' %}
								<img class="avatar" src="{% static 'images/default_avatar.png' %}" alt="">
							{% else %}
								<img class="avatar" src="/media/{{ user.userprofile.avatar }}" alt="">
							{% endif %}
						</div>
						<div class="col-lg-4 text-left dropdown">
 							<img class="dropbtn" src="{% static 'images/triangle.png' %}" alt="">
 							<div class="dropdown-content">
								<a href="/newinterest/">Add interest</a>
								<a href="/profile/">Update profile</a>
								<a href="/logout/">Log out</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 text-left">
					<a href="/newinterest/" class="btn btn-primary btn-add">Add new interest</a>
					<div class="user-interests">
						<h2>Your interests:</h2>
							{% if user_interests %}
								{% for item in user_interests %}
									<h3><a class="interest-link" href="/interest/{{ item.url }}">{{ item.name }}</a></h3>
								{% endfor %}
							{% endif %}
					</div>
				</div>
				<div class="col-lg-8">
					<h2 class="home-title">All interests are here! Choose what you like:</h2>
 					<div id="search-bar">
						<img src="{% static 'images/search-loop.png' %}" alt="">
						<input type="text" id="search-box" onkeyup="myFunction()" name="serach" placeholder="Search...">
					</div>
					<div class="col-lg-12 text-left">
						{% if interests %}
							<ul id="myUL">
							{% for item in interests %}
								<a href="/interest/{{ item.url }}"><li>{{ item.name }}</li></a>
							{% endfor %}
							</ul>
						{% endif %}
					</div>	
				</div>
			</div>
		</div>
	{% endif %}
	<script src="{% static "/js/search.js" %}"></script>
{% endblock %}