{% extends 'base.html' %}
{% load static %}
{% block content %}
	{% if user.is_authenticated %}
		<div class="container-fluid text-center">
			<div class="row">
				<div id="navbar" class="col-lg-12">
					<div class="col-lg-2">
						<img class="logo" src="{% static 'images/logo.png' %}" alt="">
					</div>
					<div class="col-lg-6">
						&nbsp;
					</div>
					<div class="col-lg-4">
						<div class="col-lg-4 text-right">
							<div class="username">{{ user.username }}</div>
						</div>
						<div class="col-lg-2">
							{% if user.userprofile.avatar == '' %}
								<img class="avatar" src="{% static 'images/default_avatar.png' %}" alt="">
							{% else %}
								<img class="avatar" src="/media/{{ user.userprofile.avatar }}" alt="">
							{% endif %}
						</div>
						<div class="col-lg-6 text-left dropdown">
 							<img class="dropbtn" src="{% static 'images/triangle.png' %}" alt="">
 							<div class="dropdown-content">
								<a href="">Add category</a>
								<a href="">Change profile</a>
								<a href="/logout/">Log out</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 user-interests">
					<h2>Your interests:</h2>
					{% if user_interests %}
						{% for item in user_interests %}
							<h3>{{ item.name }}</h3>
						{% endfor %}
					{% endif %}
				</div>
				<div class="col-lg-8">
 					<div id="search-bar">
						<img src="{% static 'images/search-loop.png' %}" alt="">
						<input type="text" id="search-box" onkeyup="myFunction()" name="serach" placeholder="Search...">
					</div>
					<div class="col-lg-12 text-left">
						{% if interests %}
							<ul id="myUL">
							{% for item in interests %}
								<li><a href="/interest/{{ item.url }}">{{ item.name }}</a></li>
							{% endfor %}
							</ul>
						{% endif %}
					</div>	
				</div>
			</div>
		</div>
	{% else %}
		<div id="main-page">
			<div class="container-fluid">
				<div class="row">
					<div id="main-form" class="col-lg-8 col-lg-offset-2">
						<div class="row">
							<div class="col-lg-8 col-lg-offset-2 text-center">
								<a href="/login/" class="btn btn-primary btn-lg">Log in</a>	
								<a href="/register/" class="btn btn-primary btn-lg">Register</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	<script charset="utf-8">
	function myFunction() {
		let input, filter, ul, li, h3, i;
		input = document.getElementById('search-box');
		filter = input.value.toUpperCase();
		ul = document.getElementById('myUL');
		li = ul.getElementsByTagName('li');

		for (i = 0; i < li.length; i++) {
			h3 = li[i].getElementsByTagName('h3')[0];
			if (h3.innerHTML.toUpperCase().indexOf(filter) > -1) {
				li[i].style.display = "";
			} else {
				li[i].style.display = "none";
			}
		}
	}
	</script>
{% endblock %}