/* 
	MAIN COLORS:
	#2e9e37
	#2e9e5c
	#6f2e9e
	#9e2e5d
	#666
	#000
*/

html, body {
	height: 100%;
}

#main-page {
	height: 100%;
	background: url(/static/images/main-bg.jpg) no-repeat center top;
}

#main-form {
	background: #fff;
	border:1px solid #fff;
	margin-top: 15%;

}

#register {
	margin-top: 10%;
}

#login {
	margin-top: 12%;
}

#navbar {
	background-color: #2e9e5c;
	height: 100px;
}

.logo {
	width: 100%;
	height: 100px;
}

.avatar {
	margin-top: 12px;
	height: 75px;
	width: 75px;

	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}

.username {
	font-size: 24px;
	font-weight: 600;
	margin-top: 35px;
}

.dropbtn {
	margin-top: 45px;
	margin-left: 15px;
    cursor: pointer;
	width: 15px;
	height: 15px;
}

.dropbtn-img {
	width: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6f2e9e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #2e9e37;
    font-weight: 600;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #666;
	color: #9e2e5d;
	text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
}

#search-bar {
	margin-top: 20px;
}

#search-bar > img {
	width: 30px;
	height: 30px;
}

#search-bar > input {
	font-size: 24px;

	padding: 0 15px;

	-webkit-border-radius: 25px;
	   -moz-border-radius: 25px;
			border-radius: 25px;
}